// @font-face {
//   font-family: "Cormorant Garamond";
//   src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff2")
//       format("woff2"),
//     url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff")
//       format("woff"),
//     url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf")
//       format("truetype");
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
// }

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");
